.icon {
  display: block;
  margin: auto;
  border-radius: 60px;
  background: {
    position: center;
    repeat: no-repeat;
  };
  width: 60px;
  height: 60px;

  @each $name, $image in $icons {
    &-#{$name} {
      background-image: url($icons-path+$image);
    }
  }

}
